@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@-webkit-keyframes slide-top-back {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-top-back {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        margin-top: 0;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        margin-top: -100px;
        opacity: 1;
    }
}
@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        margin-top: 0;
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        margin-top: -100px;
        opacity: 1;
    }
}
@-webkit-keyframes fade-in-bottom-back {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        margin-top: -100px;
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        margin-top: 0;
        opacity: 0;
    }
}
@keyframes fade-in-bottom-back {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        margin-top: -100px;
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        margin-top: 0;
        opacity: 0;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
        margin-top: 0px;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 50px;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        margin-top: 0px;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 50px;
    }
}
@-webkit-keyframes fade-in-back {
    0% {
        opacity: 1;
        margin-top: 50px;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        margin-top: 0px;
    }
}
@keyframes fade-in-back {
    0% {
        opacity: 1;
        margin-top: 50px;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        margin-top: 0px;
    }
}
